* text=auto

*.anim text eol=lf
*.asset text eol=lf
*.bash text eol=lf
*.bat text eol=crlf
*.cdxml text eol=crlf
*.cmd text eol=crlf
*.controller text eol=lf
*.csproj text eol=crlf
*.dbproj text eol=crlf
*.dist text eol=lf
*.engine text eol=lf
*.filters text eol=crlf
*.fish text eol=lf
*.fsproj text eol=crlf
*.inc text eol=lf
*.install text eol=lf
*.ipynb text eol=lf
*.ksh text eol=lf
*.lsproj text eol=crlf
*.map text eol=lf
*.mat text eol=lf
*.mcf text eol=crlf
*.meta text eol=lf
*.modelproj text eol=crlf
*.module text eol=lf
*.msh text eol=crlf
*.msh1 text eol=crlf
*.msh1xml text eol=crlf
*.msh2 text eol=crlf
*.msh2xml text eol=crlf
*.mshxml text eol=crlf
*.php text eol=lf
*.phpt text eol=lf
*.phtml text eol=lf
*.physicmaterial text eol=lf
*.physicmaterial2d text eol=lf
*.physicsmaterial text eol=lf
*.physicsmaterial2d text eol=lf
*.po text eol=lf
*.prefab text eol=lf
*.profile text eol=lf
*.props text eol=crlf
*.props.tmpl text eol=crlf
*.ps1 text eol=crlf
*.ps1x text eol=crlf
*.ps1xml text eol=crlf
*.psd1 text eol=crlf
*.psm1 text eol=crlf
*.psrc text eol=crlf
*.pssc text eol=crlf
*.rc text eol=crlf
*.sh text eol=lf
*.sln text eol=crlf
*.sln.tmpl text eol=crlf
*.sql text eol=lf
*.sqlproj text eol=crlf
*.theme text eol=lf
*.twig text eol=lf
*.unity text eol=lf
*.vbproj text eol=crlf
*.vcproj text eol=crlf
*.vcxitems text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.filters text eol=crlf
*.vcxproj.tmpl text eol=crlf
*.vim text eol=lf
*.wixproj text eol=crlf
*.wmaproj text eol=crlf
*.wwaproj text eol=crlf
*.xproj text eol=crlf
*.zsh text eol=lf

.husky/* text eol=lf

.gvimrc text eol=lf
.vimrc text eol=lf
gradlew text eol=lf
mvnw text eol=lf
phpcs.xml text eol=lf
phpstan.neon text eol=lf
phpunit.xml text eol=lf
psalm.xml text eol=lf
