__pycache__
__pycache__/
_Chutzpah*
_compareTemp
._*
.~lock.*#
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.[Cc]ache
.cache-main
.[Cc]ache/
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.dropbox
.dropbox.attr
.dropbox.cache
.DS_Store
.ensime_cache
.ensime_cache/
.eslintcache
.eslintcache/
.fseventsd
.fuse_hidden*
.fusebox/
.git
.git/
.history
.history/
.ionide
.localhistory
.localhistory/
.LSOverride
.next
.nfs*
.node_repl_history
.npm
.npm/
.nuxt
.parcel-cache
.parcel-cache/
.pnp.*
.pnpm-debug.log*
.rpt2_cache
.rpt2_cache/
.rts2_cache_cjs
.rts2_cache_cjs/
.rts2_cache_es
.rts2_cache_es/
.rts2_cache_umd
.rts2_cache_umd/
.Spotlight-V100
.svn
.svn/
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
.vscode
.vscode-test
.vscode/
.yarn/build-state.yml
.yarn/cache
.yarn/cache/
.yarn/install-state.gz
.yarn/unplugged
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt
*.~vsd*
*.autosave
*.BACKUP.*
*.bak
*.BASE.*
*.cachefile
*.code-workspace
*.e2e
*.LOCAL.*
*.orig
*.pid
*.pid.lock
*.psess
*.pyc
*.REMOTE.*
*.retry
*.sap
*.seed
*.stackdump
*.stTheme.cache
*.tmlanguage.cache
*.tmp
*.tmPreferences.cache
*.tsbuildinfo
*.vsp
*.vspx
*.xlk
*/codegentemp
*~
~$*
~$*.doc*
~$*.ppt*
~$*.xls*
$RECYCLE.BIN
$RECYCLE.BIN/
Backup of *.doc*
bower_components
bower_components/
desktop.ini
Desktop.ini
ehthumbs_vista.db
ehthumbs.db
jspm_packages
jspm_packages/
lerna-debug.log*
mono_crash.*
Network Trash Folder
node_modules
node_modules/
npm-debug.log*
Package Control.cache
Package Control.cache/
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
[Tt]emp
[Tt]emp/
Temporary Items
[Tt]humbs.db
[Tt]humbs.db:encryptable
web_modules
web_modules/
yarn-debug.log*
yarn-error.log*
