*.~*
*.~vsd*
*.autosave
*.bak
*.cab
*.cache
*.cachefile
*.errors
*.hprof
*.identcache
*.lcov
*.lnk
*.log
*.msi
*.msix
*.msm
*.msp
*.pid
*.pid.lock
*.seed
*.slxc
*.stackdump
*.stTheme.cache
*.temp
*.tgz
*.tmlanguage.cache
*.tmp
*.tmPreferences.cache
*.tsbuildinfo
*.userosscache
*.vsix
*.xlk

__history/
__Previews
__pycache__/
__recovery/
_compareTemp
_thumbs/
_UpgradeReport_Files/
._*
.[Cc]ache
.[Cc]ache/
.~lock.*#
.alcache/
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.byebug_history
.cache-main
.com.apple.timemachine.donotpresent
.coverage.*
.cpcache/
.csdp.cache
.data/
.directory
.DocumentRevisions-V100
.docusaurus
.dropbox
.dropbox.attr
.dropbox.cache
.DS_Store
.dynamodb/
.ensime_cache/
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.fseventsd
.fuse_hidden*
.fusebox/
.git/
.gradle/
.gradletasknamecache
.grunt
.history
.history/
.idea/caches/
.idea/httpRequests
.jekyll-cache/
.lein-repl-history
.lia.cache
.lib/
.libs/
.lock-waf_*_build
.lock-wscript
.LSOverride
.next
.nfs*
.nia.cache
.nlia.cache
.node_history
.node_repl_history
.npm
.nra.cache
.nuxt
.nyc_output
.parcel-cache
.php_cs.cache
.phpunit.result.cache
.pl-history
.pnp.*
.pnpm-debug.log*
.Rapp.history
.RData
.RDataTmp
.repl_history
.Rhistory
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.sass-cache/
.scala_dependencies
.serverless/
.snapshots/
.Spotlight-V100
.stversions
.stylelintcache
.svn/
.temp
.temp/
.TemporaryItems
.tern-port
.Trash-*
.Trashes
.VolumeIcon.icns
.vs/
.vscode-test
.vscode/
.vshistory/
.vuepress/dist
.yarn-integrity
.yarn/
[Dd]esktop.ini
[Tt]emp/
[Tt]humbs.db
[Tt]humbs.db:encryptable
*_cache/
*_qmlcache.qrc
*~
/_yardoc/
/.qmake.cache
/.yardoc/
/administrator/cache/
/app/bootstrap.php.cache
/app/cache/
/app/logs/
/autoscan.log
/cache/
/config.cache
/config.guess
/custom/history/
/fuel/app/cache/
/fuel/app/logs/
/github-cache
/package-cache
/play-cache
/tmp/cache/models/
/tmp/cache/persistent/
/tmp/cache/views/
/typo3conf/temp_CACHED*
/var/bootstrap.php.cache
/var/cache/
/web/sites/*/cache
/web/sites/*/tmp
/web/sites/*/translations
/website/var/backup/
/website/var/cache/
/website/var/config/cache.xml
/website/var/log/
/website/var/recyclebin/
/website/var/search/
~$*.doc*
~$*.ppt*
~$*.xls*
$RECYCLE.BIN/
App_Data/cache/
application/cache/
application/logs/
autom4te.cache
Backup of *.doc*
BenchmarkDotNet.Artifacts/
bh_unicode_properties.cache
Binaries/
bower_components
build/Release
BundleArtifacts/
cache
cache-downloads
cache/
Cache/
CMakeCache.txt
CMS/App_Data/AzureCache
CMS/App_Data/AzureTemp
coverage
crash.log
csdp.cache
cwallet.sso.lck
data/cache/
data/DoctrineORMModule/cache/
data/logs/
data/sessions/
DerivedDataCache/
ehthumbs_vista.db
ehthumbs.db
expressionengine/cache/
files/cache/
files/tmp/
fp-info-cache
Icon
image/cache/
install-log.txt
jspm_packages/
lerna-debug.log*
lia.cache
lib-cov
logs
Logs/
manifest/cache/
manifest/logs/
manifest/tmp/
Network Trash Folder
nia.cache
nimblecache/
nimcache/
nlia.cache
!node_modules/**
npm-debug.log*
nra.cache
Package Control.cache/
packer_cache/
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
resources/sass/.sass-cache/
source_gen
source_gen.caches
system/cache/
system/logs/
Temporary Items
test_gen
test_gen.caches
test-result
thumbs/
tmp/
vqmod/checked.cache
vqmod/mods.cache
vqmod/vqcache/
web_modules/
yarn-debug.log*
yarn-error.log*
