# ==================
# hugoalh's Repository Resource - Git Attribute
#   Author:
#     hugoalh
#   Language:
#     Git-Configuration
#   Last Update:
#     2019-12-07
# ==================
# ::::::::
# End Of Line (EOL)
# ::::::::
* text=auto

# ::::::::
# General
# ::::::::
# Audio
*.8svx binary
*.aa binary
*.aac binary
*.aax binary
*.act binary
*.aif binary
*.aifc binary
*.aiff binary
*.alac binary
*.amr binary
*.ape binary
*.au binary
*.awb binary
*.dct binary
*.dss binary
*.dvf binary
*.flac binary
*.gsm binary
*.iklax binary
*.ivs binary
*.m4a binary
*.m4b binary
*.m4r binary
*.mmf binary
*.mogg binary
*.mp3 binary
*.mpc binary
*.msv binary
*.nmf binary
*.nsf binary
*.oga binary
*.opus binary
*.ra binary
*.ram binary
*.tta binary
*.voc binary
*.vox binary
*.wav binary
*.wma binary
*.wv binary

# Image
*.ai binary
*.ani binary
*.apng binary
*.art binary
*.asx binary
*.bl binary
*.bmp binary
*.bp binary
*.bpg binary
*.bsave binary
*.cal binary
*.cdf binary
*.cdr binary
*.cgm binary
*.ciff binary
*.cin binary
*.cpc binary
*.cpt binary
*.ct binary
*.cur binary
*.dds binary
*.dib binary
*.djvu binary
*.dng binary
*.dpx binary
*.ecw binary
*.emf binary
*.eps binary
*.eva binary
*.exif binary
*.exr binary
*.fits binary
*.flic binary
*.flif binary
*.fp binary
*.fpx binary
*.gerber binary
*.gif binary
*.gifv binary
*.hc binary
*.hdp binary
*.hdr binary
*.hdri binary
*.hevc binary
*.hvif binary
*.icer binary
*.icns binary
*.ico binary
*.ics binary
*.iff binary
*.iges binary
*.ilbm binary
*.it binary
*.j2k binary
*.jbig binary
*.jbig2 binary
*.jfi binary
*.jfif binary
*.jif binary
*.jng binary
*.jp2 binary
*.jpe binary
*.jpeg binary
*.jpf binary
*.jpg binary
*.jpm binary
*.jxr binary
*.kar binary
*.kra binary
*.lw binary
*.mid binary
*.miff binary
*.mj2 binary
*.mod binary
*.mp binary
*.nrrd binary
*.pam binary
*.pcx binary
*.pgf binary
*.pgml binary
*.pict binary
*.pictor binary
*.png binary
*.pnm binary
*.psb binary
*.psd binary
*.psp binary
*.qtvr binary
*.ras binary
*.raw binary
*.rgbe binary
*.s3m binary
*.sd binary
*.sgi binary
*.svg text
*.svgz binary
*.tga binary
*.tif binary
*.tiff binary
*.ufo binary
*.ufp binary
*.vml binary
*.wbmp binary
*.wdp binary
*.webp binary
*.wmf binary
*.xaml binary
*.xar binary
*.xbm binary
*.xcf binary
*.xm binary
*.xmp binary
*.xwd binary

# Image (Special)
*.pbm binary
*.pgm binary
*.ppm binary
*.xpm binary

# Multiple-image Network Graphic
*.mng binary

# Video
*.amv binary
*.asf binary
*.avi binary
*.drc binary
*.f4a binary
*.f4b binary
*.f4p binary
*.f4v binary
*.flv binary
*.m2ts binary
*.m2v binary
*.m4v binary
*.mkv binary
*.mov binary
*.mp2 binary
*.mp4 binary
*.mpe binary
*.mpeg binary
*.mpg binary
*.mpv binary
*.mts binary
*.mxf binary
*.nsv binary
*.qt binary
*.rmvb binary
*.roq binary
*.svi binary
*.vob binary
*.wmv binary
*.yuv binary

# Audio & Video
*.3g2 binary
*.3gp binary
*.webm binary

# Image & Audio & Video
*.ogv binary

# Audio & Video & Program
*.ogg binary

# Archive / Program
*.7z binary
*.ace binary
*.afa binary
*.alz binary
*.apk binary
*.ar binary
*.arc binary
*.arj binary
*.ark binary
*.b1 binary
*.b6z binary
*.ba binary
*.bh binary
*.bz2 binary
*.bzip binary
*.cab binary
*.car binary
*.cdx binary
*.cpio binary
*.cso binary
*.deb binary
*.dmg binary
*.ear binary
*.egg binary
*.exe binary
*.gem binary
*.gz binary
*.iso binary
*.jar binary
*.lbr binary
*.lz binary
*.lzma binary
*.lzo binary
*.mar binary
*.msi binary
*.msm binary
*.msp binary
*.rar binary
*.rpm binary
*.rz binary
*.s7z binary
*.sbx binary
*.scs binary
*.sfark binary
*.sfx binary
*.shar binary
*.sz binary
*.tar binary
*.tar.* binary
*.tgz binary
*.xpi binary
*.xz binary
*.z binary
*.zip binary
*.zipx binary
*.zz binary

# Backup
*.bak binary
*.gho binary
*.ori binary
*.orig binary
*.tmp binary

# 3D Model
*.3dm binary
*.3ds binary
*.FBX binary
*.blend binary
*.c4d binary
*.collada binary
*.dae binary
*.dxf binary
*.fbx binary
*.jas binary
*.lws binary
*.lxo binary
*.ma binary
*.max binary
*.mb binary
*.obj binary
*.ply binary
*.skp binary
*.stl binary
*.ztl binary

# Font
*.eot binary
*.otf binary
*.sfnt binary
*.ttf binary
*.woff binary
*.woff2 binary

# Help File
*.chm binary
*.hlp binary

# Database File
*.dbf binary
*.mdx binary

# Library
*.dll binary
*.pdb binary
*.so binary

# Initialization File
*.ini text

# ::::::::
# Catalog
# ::::::::
# Git
*.gitattributes text
*.gitignore text
.gitattributes text
.gitconfig text
.gitignore text

# Linter
.csslintrc text
.eslintrc text
.htmlhintrc text
.jscsrc text
.jshintignore text
.jshintrc text
.stylelintrc text

# ActionScript
*.asc text

# Ada
*.ada text diff=ada
*.adb text diff=ada
*.ads text diff=ada

# Java
*.gradle text diff=java
*.gradle.kts text diff=java
*.java text diff=java

# PHP
*.bash text eol=lf diff=php
*.engine text eol=lf diff=php
*.install text eol=lf diff=php
*.module text eol=lf diff=php
*.php text eol=lf diff=php
*.proFile text eol=lf diff=php
*.sh text eol=lf diff=php
*.theme text eol=lf diff=php

# Python
*.pxd text diff=python
*.py text diff=python
*.py3 text diff=python
*.pyc text diff=python
*.pyd text diff=python
*.pyo text diff=python
*.pyw text diff=python
*.pyx text diff=python
*.pyz text diff=python

# Flash
*.jsfl text
*.swc binary
*.swf binary

# Microsoft Office / OpenOffice
*.doc diff=word
*.docx diff=word
*.ods binary
*.odt diff=odt
*.ppt binary
*.pptx binary
*.xlk binary
*.xls binary
*.xlsx binary

# Unity
*.asset text eol=lf
*.cginc text
*.controller eol=lf
*.cs text diff=csharp
*.cubemap binary
*.meta eol=lf
*.prefab eol=lf
*.shader text
*.unity eol=lf
*.unitypackage binary

# Delphi
*.dfm text
*.dof text
*.dsk binary

# Docker
*.dockerignore text
DockerFile text

# Fortran
*.f text diff=fortran
*.f03 text diff=fortran
*.f90 text diff=fortran
*.f95 text diff=fortran
*.for text diff=fortran

# Fountain
*.fdx text diff=fountain
*.fountain text diff=fountain

# Lazarus
*.lfm text
*.lpi text
*.lpk text
*.lpr text
*.lps text
*.lrt text
*.rc text

# Minecraft
*.mcfunction text
*.mcmeta text
*.mcscript text

# Jupyter Notebook
*.ipynb text

# NPMJS
*.npmignore text
package-lock.json text

# Heroku
.slugignore text
ProcFile text

# Ruby
*.rb text diff=ruby
schema.rb diff=ruby

# Pascal
*.pas text diff=Pascal
*.pp text diff=pascal

# ReactJS
*.jsx text
*.tsx text

# ::::::::
# Other
# ::::::::
*.R text
*.Rd text
*.Rdata text
*.Rdx binary
*.Rmd text
*.a binary
*.ac3 binary
*.adoc text
*.app binary
*.bal text
*.balx binary
*.bat text eol=crlf
*.bibtex text diff=bibtex
*.bowerrc text
*.c text diff=c
*.c++ text diff=cpp
*.cc text diff=cpp
*.cfg text File
*.class binary
*.cmd text eol=crlf
*.cnf text
*.coffee text
*.compiled text
*.conf text
*.config text
*.cpp text diff=cpp
*.csproj text eol=crlf
*.css text diff=css
*.csv text
*.cxx text diff=cpp
*.db binary
*.dbi binary
*.dbproj text eol=crlf
*.df text
*.dist text
*.dot text diff=astextplain
*.dtd text
*.dylib binary
*.ejs text
*.fig binary
*.filters text eol=crlf
*.fish text eol=lf
*.frm binary
*.fsproj text eol=crlf
*.gch binary
*.go diff=golang
*.h text diff=c
*.h++ text diff=cpp
*.haml text
*.handlebars text
*.hbs text
*.hbt text
*.heic binary
*.hh text diff=cpp
*.hpp text diff=cpp
*.htm text diff=html
*.html text diff=html
*.jade text
*.jpx binary
*.js text
*.jsm text
*.json text
*.jsp text
*.jspf text
*.jspx text
*.la binary
*.lai binary
*.latte text
*.less text
*.lib binary
*.lnk binary
*.lo binary
*.lock text
*.log text
*.ls text
*.lsproj text eol=crlf
*.lua text
*.map text
*.markdown text
*.md text
*.mdl binary
*.mdlp binary
*.mdown text
*.mdtext text
*.mdtxt text
*.mdwn text
*.mex* binary
*.midi binary
*.mjs text
*.mkd text
*.mkdn text
*.mlappinstall binary
*.mlpkginstall binary
*.mltbx binary
*.mn binary
*.modelproj text eol=crlf
*.mu text diff=matlab
*.mustache text
*.njk text
*.o binary
*.od text
*.onlydata text
*.or text
*.out binary
*.pch binary
*.phar binary
*.phtml text
*.physicMaterial eol=lf
*.physicMaterial2D eol=lf
*.physicsMaterial eol=lf
*.physicsMaterial2D eol=lf
*.pickle binary
*.pkl binary
*.pl text diff=perl
*.pm text diff=perl
*.po text
*.ppu binary
*.properties text
*.props text eol=crlf
*.ps1 text eol=crlf
*.rdb binary
*.rds binary
*.reason binary
*.rel binary
*.res text 
*.rm binary
*.rns binary
*.rsj text
*.rst text
*.rtf text
*.sass text
*.scm text
*.script text
*.scss text
*.sec binary
*.sldd binary
*.slo binary
*.slx binary
*.slxp binary
*.sql text
*.sqlproj text eol=crlf
*.styl text
*.swift text diff=swift
*.tab text
*.tag text
*.tagx text
*.tbl binary
*.tex text diff=tex
*.textile text
*.tld text
*.tmpl text
*.toml text
*.tpl text
*.tsv text
*.twig text
*.txt text
*.val binary
*.vbproj text eol=crlf
*.vcproj text eol=crlf
*.vcxitems text eol=crlf
*.vcxproj text eol=crlf
*.vue text
*.war binary
*.wixproj text eol=crlf
*.wmaproj text eol=crlf
*.xhtml text diff=html
*.xml text
*.xproj text eol=crlf
*.xps binary
*.xsd text
*.xsl text
*.yaml text
*.yml text
.babelrc text
.browserslistrc text
.buildlog text
.editorconfig text
.env text
.htaccess text
.recommenders binary

# ::::::::
# Variable (May Need Modify)
# ::::::::
# text for Unity YAML, binary for Image
*.anim text eol=lf
# *.anim binary

# text for ActionScript, binary for Video
*.as text

# text for Adobe Flash, binary otherwise
*.fla text

# diff=php for PHP only
*.inc text
# *.inc text eol=lf diff=php

# text for Lazarus Resource File, binary for Windows Resource File
*.lrs text

# diff=matlab for default, diff=objc for Mathematica Package
*.m text diff=matlab

# text for Unity YAML only, binary otherwise
*.mat text eol=lf
# *.mat binary

# text for Pascal code, binary otherwise
*.p text diff=pascal
# *.p binary

# text for Xcode, binary otherwise
*.pbxproj text

# text when editable, binary otherwise
*.pdf binary

# text for PostScript, binary for Image
*.ps text

# text for editable, binary for Audio
*.sln text eol=crlf
# *.sln binary

# text for TypeScript, binary otherwise / Video
*.ts text
