# ==================
# hugoalh's Repository Resource - NPM Ignore
#   Language:
#     Git-Configuration
#   Last Update:
#     2020-08-07
# ==================
_compareTemp
_notes
._*
.*.swp
.~lock.*#
.AppleDB
.AppleDesktop
.AppleDouble
.apt_generated/*
.buildlog
.bundle
.bzr/*
.cache
.cache-main
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.dropbox
.dropbox.attr
.dropbox.cache
.DS_Store
.dynamodb/*
.ensime_cache/*
.env
.env.test
.eslintcache
.fseventsd
.fuse_hidden*
.fusebox/*
.git
.grunt
.hg
.history
.lock-wscript
.LSOverride
.next
.nfs*
.ninja_log
.node_repl_history
.npm
.nuxt
.nyc_output
.recommenders
.recommenders/*
.serverless/*
.setting/*
.settings/*
.Spotlight-V100
.svn
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
.vs/*
.vscode/*
.vuepress/dist
.wafpickle-*
.yarn-integrity
[Bb]ackup/*
[Dd]ebug/*
[Dd]esktop.ini
[Rr]eport/*
[Rr]reports/*
[Tt]emp/*
[Tt]est/*
[Tt]humbs.db
[Tt]humbs.db:encryptable
*.~vsd*
*.autosave
*.bak
*.gho
*.lcov
*.lnk
*.log
*.ori
*.orig
*.pid
*.pid.lock
*.ppk
*.retry
*.rpt
*.seed
*.stackdump
*.stTheme.cache
*.sym
*.tmlanguage.cache
*.tmp
*.tmPreferences.cache
*.tsbuildinfo
*.xlk
**/CVS/*
**/IntegrationServer/logs/*
**/nbproject/private/*
*/codegentemp
/.anjuta_sym_db.db
/.anjuta/*
/.tgitconfig
/CVS/*
~$*.doc*
~$*.ppt*
~$*.xls*
$RECYCLE.BIN/*
abstract.log*
bin-debug/*
bower_components
build/Release
config.gypi
coverage
crashlytics-build.properties
crashlytics.properties
CVS
dwsync.xml
ehthumbs_vista.db
ehthumbs.db
jspm_packages/*
lerna-debug.log*
lib-cov
logs
node_modules/*
npm-debug.log*
Package Control.cache/*
panic*.log.*
pids
reference/*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
rerun/*
screenshot*.png
screenshots/*
typings/*
ucli.key
urgReport/*
vsim.dbg
yarn-debug.log*
yarn-error.log*

.eslintrc.*
.gitattributes
.github/*
.gitignore
.lgtm.*
.npmignore
.npmrc
