# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Invoke DevSkim Analysis"
on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"
    types:
      - "edited"
      - "opened"
      - "reopened"
      - "synchronize"
  workflow_dispatch:
jobs:
  main:
    permissions:
      actions: "read"
      contents: "read"
      security-events: "write"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout Repository"
        uses: "actions/checkout@v4.2.2"
        with:
          fetch-depth: "0"
      - name: "Analyze Repository"
        uses: "microsoft/DevSkim-Action@v1.0.14"
        with:
          should-scan-archives: "true"
          ignore-globs: "**/.git/**"
      - name: "Upload Analysis Result"
        uses: "github/codeql-action/upload-sarif@v3.27.1"
        with:
          sarif_file: "devskim-results.sarif"
